<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Current Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <div class="information">
    <ion-label class="city">Madison</ion-label>
    <ion-label class="primary-value">{{currentWeather?.temperature}}℉</ion-label>
  </div>
  <div class="condition">
    <img [src]="currentWeather?.conditionIcon" />
    <ion-label class="secondary-value">{{currentWeather?.description}}</ion-label>
  </div>
</ion-content>
