.daily-weather-report {
  display: flex;
}

.weather-icon img {
  height: 96px;
}

.weather-description {
  margin-left: 24px;
  font-weight: bold;
}

.weather-description .date {
  font-size: large;
}
