// TODO: needs to change to angular once alpha.10 is out.

@import "~@ionic/core/css/normalize.css";
@import "~@ionic/core/css/structure.css";
@import "~@ionic/core/css/typography.css";
@import "~@ionic/core/css/colors.css";

@import "~@ionic/core/css/padding.css";
@import "~@ionic/core/css/float-elements.css";
@import "~@ionic/core/css/text-alignment.css";
@import "~@ionic/core/css/text-transformation.css";
@import "~@ionic/core/css/flex-utils.css";

.primary-value {
  font-size: 36px;
}

.secondary-value {
  font-size: 24px;
}

.item-ios,
.item-md {
  padding-left: 0;
}

.item-inner {
  padding: 12px;
}
