page-current-weather {
  .city {
    font-size: 24px;
    font-weight: bold;
  }

  .primary-value {
    margin-top: 18px;
  }

  .condition {
    img {
      height: 212px;
    }
    margin-top: 36px;
  }
}
